/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

#closeBtn, #minimizeBtn, #addBtn, #filterTagsBtn {
  -webkit-app-region: no-drag;
}

.glyphicon-minus-sign,
.glyphicon-remove-sign
{
  margin: 4px;
  font-size: 18px;
}

.glyphicon-minus-sign
{
  margin-top: 9px;
  color: #F5F5F5;
}
.glyphicon-minus-sign:hover
{
  color: orange;
}
.glyphicon-minus-sign:active
{
  color: darkorange;
}

.glyphicon-remove-sign
{
  margin-top: 9px;
  color: #F5F5F5;
}
.glyphicon-remove-sign:hover
{
  color: red;
}
.glyphicon-remove-sign:active
{
  color: firebrick;
}

.glyphicon-tags,
.glyphicon-plus
{
  color: #F5F5F5;
  font-size: 16px;
}

#filterTagsBtn,
#addBtn{
  margin-top: 8px;
  margin-right: 4px;
  background-color: #8888;
  border-color: #080808;
}

#filterTagsBtn:hover,
#addBtn:hover{
  background-color: #191919;
}

#filterTagsBtn:hover .glyphicon-tags,
#addBtn:hover .glyphicon-plus{
  color: #3399FF;
}

#filterTagsBtn:active,
#addBtn:active{
  background-color: #080808;
}

#filterTagsBtn:active .glyphicon-tags,
#addBtn:active .glyphicon-plus{
  color: #337ab7;
}
/* --------------------------------------
   Body
   -------------------------------------- */
body
{
  /* slate gray */
  background-color: #708090;
  /*dim gray*/
  background-color: #696969;
  /* white smoke */
  background-color: #F5F5F5;

  height  : 100%;
  overflow: auto;
}

html {
    height  : 100%;
    overflow: hidden;
}

/* --------------------------------------
   Cheat
   -------------------------------------- */
ul.cheatsUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 340px; */
}

#cheatsView h5 {
  margin-top: 0px;
}

pre {
  -webkit-box-decoration-break: clone;
}

pre:empty {
  display: none;
}

pre {
  display: block;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  border: none;
  border-radius: 4px;
}

.cheatTags {
  color: white;
  background-color: #0096F6;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 90%;
}

.cheat-actions a:hover  {
  text-shadow: 0 0 8px #00baff;
}

.glyphicon-trash:active, .glyphicon-pencil:active {
  color: black;
}
